body {
    background-color: #3b5f2d; 
    color: #ffffff; 
    font-family: 'Arial', sans-serif;
}


.ulbotones {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    list-style: none; 
  }
  

  .libotones {
    display: inline-block; 
    margin: 0 200px; 
  }
  

.textoimg {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    margin-top: 50px; 
}


.imagen1 {
    flex-shrink: 0; 
}


.imagen1 img {
    width: auto; 
    max-height: 50vh; 
}


.texto {
    max-width: 40%; 
    margin-left: 20px; 
    text-align: justify; 
}


.botones {
    display: flex; 
    justify-content: space-between; 
    position: fixed;
    bottom: 20px; 
    left: 0;
    right: 0;
    padding: 0 420px; 
}


button {
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border: none;
    background-color: #35424b; 
    color: white; 
    border-radius: 5px; 
}


button:hover {
    background-color: #5a5c5f; 
}


a {
    color: inherit; 
    text-decoration: none; 
    font-size: 18px; 
}


a:visited {
    color: inherit; /
}


.tablaco {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100%;             
}


.tablasimple {
    width: 60%;           
    margin: 20px auto;     
    border-collapse: collapse;
    background-color: #50813d; 
    border: 1px solid #ddd;   
}


.tablasimple td {
    padding: 10px;         
    vertical-align: middle; 
}

.tablasimple tr {
    border-bottom: 1px solid #ddd;
  }

.tablasimple .imagen {
    max-width: 240px;       
    height: auto;           
    border-radius: 8px;     
}


.tablasimple p {
    font-size: 14px;
    color: #ffffff;            
    margin: 0;              
}